<div class="well">
    <div class="media-left">
        <img class="media-object">
    </div>
    <div class="media-body">
      <div class="text-left" ng-model="$ctrl.author">
          {{post.author}}
      </div>
        <h4 class="media-heading">
{{post.title}}
|
<a ng-click="$ctrl.upVote(post.id)"><i class="glyphicon glyphicon-arrow-up"></i></a>
{{post.vote_count}}
<a ng-click="$ctrl.downVote(post.id)"><i class="glyphicon glyphicon-arrow-down"></i></a>
</h4>
        <img src='{{post.image_url}}' width="300px">

        <p>
          <a href = '#' ui-sref = "edit({id: post.id })" >Edit Post</a><br>
            {{post.body}}
        </p>
        Posted on: {{ post.created_at | amCalendar }}
      <comments post-id="post.id"></comments>
    </div>
</div>
