<div class="well">
    <div class="media-left">
        <img class="media-object">
    </div>
    <div class="media-body">
      <div class="text-left" ng-model="$ctrl.author">
          {{$ctrl.post.author}}
      </div>
        <h4 class="media-heading">
{{$ctrl.post.title}}
|
<a ng-click="$ctrl.upVote()"><i class="glyphicon glyphicon-arrow-up"></i></a>
{{$ctrl.post.vote_count}}
<a ng-click="$ctrl.downVote()"><i class="glyphicon glyphicon-arrow-down"></i></a>
</h4>
        <img src='{{$ctrl.post.image_url}}' width="50%">

        <p>
          <a ui-sref = "edit({ id: $ctrl.post.edit })" >Edit Post</a><br>
            {{$ctrl.post.body}}
        </p>
        Posted on: {{ $ctrl.post.created_at | amCalendar }}

    </div>
</div>
